body {
  margin: 0;
  font-family: BarlowCondensed-Black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: BarlowCondensed-Black, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

@font-face {
  font-family: "BarlowCondensed-Black";
  src: url("../public/fonts/BarlowCondensed-Black.ttf") format("ttf"),
    url("../public/fonts/BarlowCondensed-Black.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: BarlowCondensed-Black;
}
